RewriteEngine On
RewriteBase /

## GET
RewriteRule ^api/shopping-list/get/$ /api/shopping-list/get.php [L]
RewriteRule ^api/shopping-list/get/(.*[^/])$ /api/shopping-list/get.php?slid=$1 [L]

## CREATE
RewriteRule ^api/shopping-list/create/$ /api/shopping-list/create.php [L]

## pokud request zacina "api", tak neaplikuj pravidla nize
RewriteRule ^(api)($|/) - [L]

## vsechny ostatni requesty vyjma souboru s koncovkama nize smeruj na index.html
RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|eot|svg|ttf|woff|woff2|map|tar\.gz)$ index.html [L]